@import 'style';


.qslider_bg_1 {
  background-image: url(../img/banner/banner.png); }

.qslider_bg_2 {
  background-image: url(../img/bgn/25.jpg); }

.qslider_bg_3 {
  background-image: url(../img/bgn/13862.jpg); }

.qslider_bg_4 {
  background-image: url(../img/bgn/14057.jpg); }

.qslider_bg_5 {
  background-image: url(../img/bgn/480583.jpg); }

.qslider_bg_6 {
  background-image: url(../img/bgn/480590.jpg); }

.qslider_bg_7 {
  background-image: url(../img/bgn/480592.jpg); }

.qslider_bg_8 {
  background-image: url(../img/bgn/480595.jpg); }

.qslider_bg_9 {
  background-image: url(../img/bgn/480598.jpg); }

.qslider_bg_10 {
  background-image: url(../img/bgn/480599.jpg); }

.qslider_bg_11 {
  background-image: url(../img/bgn/480613.jpg); }

.qslider_bg_12 {
  background-image: url(../img/bgn/480618.jpg); }

.qslider_bg_13 {
  background-image: url(../img/bgn/480621.jpg); }

.qslider_bg_14 {
  background-image: url(../img/bgn/480624.jpg); }

.qslider_bg_15 {
  background-image: url(../img/bgn/480625.jpg); }

.qslider_bg_16 {
  background-image: url("../img/bgn/wallpaper2you_575543.jpg");
}